# 32bytes base64 string
JWT_SECRET=32BYTESTRING
DB_URL_STRING=32BYTESTRING
CSRF_KEY=32BYTESTRING
REDIS_URL=redis://localhost:6379

# Environment (e.g. development, production)
APP_ENV=development

# Comma-separated list of allowed origins for CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173